html, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
body{
	background: url('../da-cat-2.jpg');
	background-size: 50%;
	background-attachment: fixed;
}
#main{
	margin: 0 auto;
	height: auto;
	max-width: 1024px;
	padding-bottom: 100px;
}
ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
#images{
	width: auto;
}
#images li{
	float: left;
	margin: 5px;
	background: #38EFFF;
}
#images li img{
	max-width: auto;
	height: auto;
	display: block;
}
.image-title{
	text-align: center;
	margin: 0;
	padding:0;
	background: #fff;
}

.selected{
	border: 10px solid #ff69b4;
}
#decryption-field{
	position: fixed;
	bottom: 0;
	max-width: 1024px;
	width: 100%;
	background: #ff69b4;
	text-align: center;
}
#decrypt-key{
	line-height: 24px;
	font-size: 24px;
	border: none;
}